@model IEnumerable<WebApplication.Models.ComboDetail>
@if (ViewBag.FullName == "")
{
    <script>
        location.replace("/Products");
    </script>
}
<div class="container">
    <div class="header">
        <div class="header_logo">
            <img src="~/image/logo.jpg" style="width:100%;height:100%">
        </div>
        <div class="header_timkiem">
            <div class="form_timkiem">

                @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                {
                    <input type="text" name="searchString" id="searchString">
                    <input type="submit" name="btn_SearchString" id="btn_SearchString" value="Tìm kiếm">

                }
            </div>
        </div>
        <div class="header_thongtinkhachhang">
            <div style="width:100%;height:20px;">
                <div style="float:left;font-size:20px">@ViewBag.FullName</div>
                <div style="float:right;font-size:20px"> <input onclick="logout()" type="button" value="Đăng Xuất" /> </div>
            </div>
            <div style="height:40px;width:60px;margin-top:60px;">
                <a href="/Products/Giohang"><div style="float: right"><img src="~/image/giohang1.png" style="width:40px;height:100%;"></div></a>
                <div id="giohang_soluong" name="giohang_soluong" style="font-size: 20px; color: white; width: 20px; height: 20px; background-color: red; border-radius: 3px; float: left; line-height: 20px; text-align: center;">
                    @ViewBag.cart
                </div>
            </div>
        </div>
    </div>
    <div class="header_menu">
        <a href="/Products/index ">
            <div class="header_homepage">
                Trang chủ
            </div>
        </a>

    </div>
    <div class="contain_noidung">
        <div class="contain_menu">
            <div style="font-size:20px">Danh mục sản phẩm:</div>
            @foreach (var item in ViewBag.classify)
            {
                <a href="/Products/SanPham?Id=@item.Id" style="text-decoration:none;color:black;"><div class="contain_menu_danhmuc">@item.ClassifyName</div></a>

            }
            @foreach (var item in ViewBag.catalog_menu)
            {
                <a href="/Products/Combo?Id=@item.Id" style="text-decoration:none;color:black;"><div class="contain_menu_danhmuc">@item.CatalogName</div></a>
            }

        </div>
        <div class="contain_sanpham">

            <h1>Chi tiết Combo</h1>

            <div style="font-size:20px">
                Tên combo: @Model.First().IdComboNavigation.ComboName
            </div>
        <table style="width:100%;text-align:center">
            <thead style="background-color:aqua">
                <tr style="width:100%;">
                    <th style="width:30%;">
                        Tên sản phẩm
                    </th>
                    <th style="width:40%;">
                        Chi tiết sản phẩm
                    </th>
                    <th style="width:30%;">
                        Giá tiền
                    </th>
                    
                </tr>
            </thead>
            <tbody id="giohang_tbody">
                @foreach (var item in Model)
                {
                    <tr style="width:100%;height:50px;line-height:50px;">
                        <td style="width:30%;height:100%;border-left:solid 1px;border-bottom:solid 1px;">
                            @item.IdProductNavigation.ProductName
                        </td>
                        <td style="width:40%;height:100%;border-left:solid 1px;;border-bottom:solid 1px;">
                            @item.IdProductNavigation.Detail

                        </td>
                        <td style="width:30%;height:100%;border-left:solid 1px;;border-bottom:solid 1px;">
                            @item.IdProductNavigation.Price
                        </td>
                       
                    </tr>

                   



                }
            </tbody>
        </table>
            <div style="font-size:20px">
                Tổng tiền: @Model.First().IdComboNavigation.Price
            </div>
                <div style="width:40%;">
                    <div class="contain_1_sanpham_themgiohang">
                        <div style="float: left;"><input type="button" name="btn_themgiohang" id="btn_themgiohang" value="Thêm vào giỏ hàng" onclick="ThemCombo_GioHang(@Model.First().IdComboNavigation.Id,@ViewBag.IdUser)" /> </div>
                        <div style="float: right;"><input type="button" name="btn_muangay" id="btn_muangay" value="Mua ngay" onclick="SanPham_MuaNgay(@Model.First().IdComboNavigation.Id)" /> </div>
                    </div>
                </div>

            


        </div>



    </div>

</div>
