@model IEnumerable<WebApplication.Models.Combo>

<div class="container">
    <div class="header">
        <div class="header_logo">
            <img src="~/image/logo.jpg" style="width:100%;height:100%">
        </div>
        <div class="header_timkiem">
            <div class="form_timkiem">

                @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                {
                    <input type="text" name="searchString" id="searchString">
                    <input type="submit" name="btn_SearchString" id="btn_SearchString" value="Tìm kiếm">

                }
            </div>
        </div>
        <div class="header_thongtinkhachhang">
            <div style="width:100%;height:20px;">Trần Thanh Phong</div>
            <div style="height:40px;width:60px;margin-top:60px;">

                <div style="float: right"><img src="~/image/giohang1.png" style="width:40px;height:100%;"></div>
                <div id="giohang_soluong" name="giohang_soluong" style="font-size: 20px; color: white; width: 20px; height: 20px; background-color: red; border-radius: 3px; float: left; line-height: 20px; text-align: center;">
                    0
                </div>
            </div>
        </div>
    </div>
    <div class="header_menu">
        <a href="/Products ">
            <div class="header_homepage">
                Trang chủ
            </div>
        </a>

    </div>
    <div class="contain_noidung">
        <div class="contain_menu">
            <div style="font-size:20px">Danh mục sản phẩm:</div>
            @foreach (var item in ViewBag.classify)
            {
                <a href="/Products/SanPham?Id=@item.Id"><div class="contain_menu_danhmuc">@item.ClassifyName</div></a>

            }
            @foreach (var item in ViewBag.catalog_menu)
            {
                <a href="/Products/Combo?Id=@item.Id"><div class="contain_menu_danhmuc">@item.CatalogName</div></a>
            }

        </div>
        <div class="contain_sanpham">

           <h1>Danh sách Compo</h1>
                @foreach (var item in Model)
                {
                    <div class="contain_1_sanpham">
                        <div style="width: 100%;height: 80%">
                            <div style="font-size:25px;">@item.ComboName</div>
                            @*<div style="font-size:25px;">@item.Price </div>*@

                        </div>
                        <div class="contain_1_sanpham_themgiohang">
                            <div style="float: left;"><input type="button" name="btn_themgiohang" id="btn_themgiohang" value="Thêm vào giỏ hàng" onclick="ThemCombo_GioHang(@item.Id)" /> </div>
                            <div style="float: right;"><input type="button" name="btn_muangay" id="btn_muangay" value="Mua ngay" onclick="Combo_MuaNgay(@item.Id)" /> </div>
                        </div>
                    </div>
                }
            
        </div>

        <div style="margin-left:20%;">
            @{
                double totalPages = ViewBag.TotalPages;
                int PageNumber = ViewBag.PageNumber;
                int Id = ViewBag.Id;
                <div class="pagination" style="float:left">
                    @if (totalPages != 0)
                    {
                        @if (totalPages != 1)
                        {
                            @if (PageNumber > 1)
                            {
                                @Html.ActionLink("<<<", "Index", new { Id = Id, searchString = ViewBag.searchString, PageNumber = PageNumber - 1 })
                            }
                            <label>@PageNumber</label>
                            @if (PageNumber != totalPages)
                            {
                                @Html.ActionLink(">>>", "Index", new { Id = Id, searchString = ViewBag.searchString, PageNumber = PageNumber + 1 })
                            }
                        }
                        else
                        {
                            <label>@PageNumber</label>
                        }

                    }

                </div>

            }
        </div>


    </div>

</div>